<div class="grid md:grid-cols-2">
  <div class="w-full flex flex-col items-center md:pt-8">
    <h1 class="text-4xl font-bold text-indigo-900 text-center"><%= @product.name %></h1>
    <div class="max-w-2xl w-full">
      <%= image_tag(@product.images.first, class: "w-auto h-auto object-cover rounded-lg mx-auto mt-8") if @product.images.any? %>
      <div class="text-gray-700 text-justify text-lg p-8">
        <%= @product.description %>
      </div>
    </div>
  </div>

  <div data-controller="stripe-checkout" data-stripe-checkout-url-value="<%= product_buy_now_path(@product) %>">  
  </div>
</div>