<div class="h-16 w-full fixed top-0 bg-gray-800">
  <div class="max-w-7xl h-full w-full mx-auto flex items-center justify-between p-8">
    <%= link_to root_path, class: 'flex items-end gap-4' do %>
      <%= image_tag('books.png', class:'w-10 object-cover') %>
      <span class="text-2xl text-gray-100"> The Best Books </span>
    <% end %>

    <%= image_tag('carrinho.png')%>
  </div>
</div>